<div class="container col-12" style="vertical-align: auto;   display: flex;
justify-content: center;
align-items: center;
text-align: center;">

    <mat-card class="col-3" style="min-width: fit-content; border: 1px solid; background-color: white; border-radius: 5vh;">
        <div class="col-12">
            <img class="col-6" style="width: 30%; margin: 0 auto" src="assets/images/csislogoshort.PNG" >
        </div>
        <div>
            <br>
            <h2>Registration Successful</h2>
        </div>
        <br>
        <a>Your registration was successful and your application will be reviewed.<br>A message will be sent to your email after the account gets approved.</a>
        <br>
        <br>
        <div>
            <button class="btn" style="text-decoration: underline; width: fit-content;margin-top: -5px; font-size:16px; background-color: white; border-color: white; color:#0a75cd;"  type="submit" (click)="goToLogin()" > Log In </button>
         </div>
         <br>
       
    </mat-card>
</div>